@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll::-webkit-scrollbar {
	width: 5px;
	background: theme("colors.neutral.900");
}

.scroll::-webkit-scrollbar-thumb {
	width: 5px;
	background: theme("colors.neutral.800");
}
